.single-player-card {
    flex-basis: 200px;
    max-width: 500px;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    background: #dfd3c3; 
  
    display: flex;
    flex-direction: column;
}
  
.single-player-card img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
}

.single-player-card button {
    margin: 0.25em 0;
}